* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 50px 0px;
}

.logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-box img{
    max-width: 50px;
}
.logo-box h3{
    color: #000 !important;
}

.form-section h3 {
    padding: 20px 0;
    font-weight: 700;
    color: #C9171E;
}

#wizard-form {
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 25%);

}

#wizard-form h5 {
    padding: 0px 0px 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;

}

#wizard-form label {
    display: block;
    padding: 0px 0px 8px 0px;
}

#wizard-form input[type=text],input[type=number],input[type=email],input[type=date] {
    width: 100%;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #F7F7F7;
    border: none;
}

#wizard-form input[type=checkbox]{
    transform: scale(1.5);
}



#wizard-form textarea{
    width: 100%;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #F7F7F7;
    border: none;
}

#wizard-form textarea:focus{
    border: none;
    outline: none;
}

#wizard-form input:focus {
    border: none;
    outline: none;
}

#wizard-form .button-box {
    text-align: end;
    padding-top: 29px;
}

#wizard-form .button-box .prev {
    border: 0;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    font-weight: 700;
}

#wizard-form .button-box .next {
    border: 0;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    font-weight: 700;
}

#wizard-form .button-box .submit {
    border: 0;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(30, 0, 255);
    color: #fff;
    font-weight: 700;
}

#wizard-form .form-add-btn-box{
    padding: 29px 0;
    display: flex;
    justify-content: end;
}

#wizard-form .form-add-btn-box button{
    border: 1px solid red;
    border-radius: 4px;
    padding: 4px 14px;
    background-color: #fff;
    display: flex;
    align-items: center;
    color: red;
    font-weight: 700;
}

#wizard-form .form-add-btn-box button i{
   color: #ff0000;
}

#wizard-form .signature-upload-box{
    padding: 10px;
    border-radius: 20px;
}

#wizard-form .file-upload label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wizard-form .file-upload span{
    font-size: 15px;
    padding-top: 10px;
    font-weight: 500;
}

#wizard-form .signature-upload-box .upload-icon{
    padding: 10px;
    border: 1px dotted red;
    border-radius: 14px;
    max-width: 100px;
    cursor: pointer;
}

#wizard-form .signature-upload-box #selected-image{
    max-width: 195px;
    border-radius: 15px;
}



#wizard-form .signature-upload-box #file-input{
    display: none;
}

#change-button{
    border: none;
    background-color: #fff;
    color: #ff0000;
    display: block;
    position: absolute;
    top: -17px;
    left: 66%;
    padding: 3px 6px;
    border-radius: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.selected-img-box button{
    border: 1px solid #fff;
    background-color: #cac7c7;
    position: absolute;
    top: -18px;
    right: lef;
    /* left: -8px; */
    border-radius: 100%;
    padding: 6px 9px;
}

.selected-img-box img{
    max-width: 200px;
    border-radius: 15px
}

.selected-img-box{
    position: relative;
    display: flex;
    justify-content: center;
}

.file-upload label {
    display: flex !important;
}

.final-step p{
    font-size: 18px;
    color: #000;
    font-weight: 600;
}